@import './assets/styles/_variables.scss';

* {
  font-family: $font-family-primary;
}

p,
h1,
a {
  color: $font-color-primary;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
